
.contact-page{
    max-width: 100%;
    margin: auto;
    line-height: 1.6; 
    padding-top: 55px;
   
}

.contact{
    text-align: center;
    font-size: 20px; 
    padding:20px; 
}

.contact-form{
    /* max-width: 40%; */
    margin: 50px 50px 50px 70px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(17, 17, 17, 0.1);
    width: 40%;
    height: 400px;
    border: 2px solid rgb(223, 220, 220);
    border-radius: 10px;
    display:inline;
    object-fit: cover;
    float: left;
    
}

label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="tel"] {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
  }

.contact-info{
    margin: 50px 0px 0px 30px;
    width: 40%;
    float: left;
    text-align: justify;
    line-height:1.8 ;
    letter-spacing: 0.6px;
    word-spacing: 5px;
}